
<h1>Edit training page</h1>
<li><%= link_to "<< Back on my dashboard", root_path %></li>

<%= form_for(@training) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :location %>
    <%= f.text_field :location %>
    <%= f.label :objectives %>
    <%= f.text_field :objectives %>
    <%= f.label :duration %>
    <%= f.number_field :duration %>
    <%= f.label :Movements %>
    <%= f.collection_check_boxes :movements, Movement.order(:name), :id, :name %>
    <%= f.hidden_field :user_id, value: Training.find(params[:id])[:user_id] %>
    <%= f.hidden_field :coach_id, value: current_coach.id %>
    <%= f.submit %>
<% end %>
