<div>
  <p>this is a new page for as training session</p>
  <%= form_for (@training) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :date %>
    <%= f.date_select(:date, :order => [:month, :day, :year]) %>
    <%= f.label :location %>
    <%= f.text_field :location %>
    <%= f.label :objectives %>
    <%= f.text_field :objectives %>
    <%= f.label :duration %>
    <%= f.number_field :duration %>
    <%= f.label :Movements %>
    <%= f.collection_check_boxes :movements, Movement.order(:name), :id, :name %>
    <%#= f.collection_select :movements, Movement.order(:name), :id, :name, multiple: true, size: 5 %>
    <%= f.hidden_field :user_id, value: params[:user_id].to_i %>
    <%= f.hidden_field :coach_id, value: current_coach.id %>
    <%= f.submit %>
  <% end %>
</div>
