<br>
<div class="container-yield">
  <% if @coming_trainings.length > 0 %>
      <p>Session(s) à venir :</p>
      <% @coming_trainings.each_with_index do |training, index| %>
        <div class="training">
          <li>Session à venir N° <%= index + 1 %></li>
          <li>Date de la session : <%= training.date  %></li>
          <li>Nom de la session : <%= training.title %></li>
          <li>Objectifs de la session : <%= training.objectives %></li>
          <li>Lieu : <%= training.location %></li>
          <% if !training.results.nil? %>
            <li>Résulats : <%= training.results %></li>
          <% elsif training.results.nil? %>
            <li>Résulats : aucun résultat pour le moment</li>
          <% end %>
          <% if current_coach %>
          <br>
            <li class="btn-valid btn-danger"><%= link_to "Delete", training,
                    method: :delete,
                    data: { confirm: "Are your sure?" }%></li>
            <li class="btn-valid btn-success"><%= link_to "Edit", edit_training_path(training)%></li>
            <br>
        <% end %>
          <br>
        </div>
      <% end %>
    <% elsif @coming_trainings.length === 0 %>
      <p>Session(s) à venir : Aucune :(</p>
  <% end %>
</div>

<div class="container-yield">
  <% if @passed_trainings.length > 0 %>
    <div class="container-yield">
      <p>Session(s) passée(s) :</p>
      <% @passed_trainings.each_with_index do |training, index| %>
        <div class="training">
          <li>Session passée N° <%= @passed_trainings.length - index %></li>
          <li>Date de la session : <%= training.date  %></li>
          <li>Nom de la session : <%= training.title %></li>
          <li>Objectifs de la session : <%= training.objectives %></li>
          <li>Lieu : <%= training.location %></li>
          <% if !training.results.nil? %>
            <li>Résulats : <%= training.results %></li>
          <% elsif training.results.nil? %>
            <li>Résulats : aucun résultat pour le moment</li>
          <% end %>
          <% if current_coach %>
            <br>
            <div class="container-button">
              <li> <%= link_to "Supprimer", training,
                      method: :delete,
                      data: { confirm: "Are your sure?"},
                      class: "btn-valid btn-danger"%></li>
              <li><%= link_to "Editer", edit_training_path(training), class: "btn-valid btn-success"%></li>
            </div>
            <br>
          <% end %>
          <br>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
