
<div class="container">
  <% if current_coach %>
    <h1>This is the view from <%= @user.first_name %></h1>
    <li>Objectifs de <%= @user.first_name %> : <%= @user.objectives %></li>
    <%= render "training_list" %>
    <%= link_to "Create a new training", new_training_path(:user_id => params[:id]) %>
  <% elsif current_user %>
    <h1>Hi <%= current_user.first_name %> Welcome to your profil page </h1>
    <li>Vos objectifs : <%= current_user.objectives %></li>
    <%= render "training_list" %>
  <% end %>
</div>
