
<% if current_user %>
  <p>Hello <%= current_user.first_name %>!</p>
  <p>Welcome to your personnalize dashboard</p>
  <%= render "home_user" %>

<% elsif current_coach %>
  <p>Hello <%= current_coach.first_name %>!</p>
  <%= render "home_coach" %>
<% else %>
  <h1>this is the home page</h1>
  <div class="container">
    <div class="login" id="logcoach">
      <%= link_to 'Je suis un coach', new_coach_registration_path %>
    </div>
    <div class="login" id="logcustomer">
      <%= link_to 'Je suis membre', new_user_registration_path %>
    </div>
  </div>
<% end %>
