<!DOCTYPE html>
<html>
  <head>
    <title>Coach Webapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if(notice) %>
      <div class="flash flash-success alert alert-dismissible fade show" role="alert"><p class="notice"><%= notice %></p></div>
    <% elsif(alert) %>
      <div class="flash flash-success alert alert-dismissible fade show" role="alert"><p class="alert"><%= alert %></p></div>
    <% end if %>
    <% if (current_user || current_coach) %>
      <li><%= link_to "HOME", root_path %></li>
      <li><%= link_to "SE DECONNECTER", destroy_user_session_path, method: :delete %></li>
    <% end if %>
    <%= yield %>
  </body>
</html>
